{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}" />

    <title>Document</title>
  </head>

  <body>
    <nav>
      {% if user.is_authenticated %}
        <form class="signup-form" action="{% url 'accounts:signout' %}" method="post">
          {% csrf_token %}
          <button class="button-6" type="submit">Signout</button>
        </form>
      {% else %}
        <a href="{% url 'accounts:signup' %}"><button class="button-6" role="button">Signup</button></a>
        <a href="{% url 'accounts:signin' %}"><button class="button-6" role="button">Signin</button></a>
      {% endif %}
      <a href="{% url 'admin:index' %}"><button class="button-6" role="button">Admin</button></a>
    </nav>
    <div class="wrapper">
      {% block content %}

      {% endblock %}
    </div>
  </body>
</html>
