{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'account/css/styles.css' %}" />
{% endblock %}

{% block content %}
  <main class="flex align-items-center justify-content-center">
    <section id="auth" class="flex direction-column">
      <div class="panel login flex direction-column">
        <form action="{% url 'account:signup' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}

          {% if next != '/' %}
            <input type="hidden" name="next" value="{{ next }}" />
          {% endif %}

          <input required name="first_name" type="text" placeholder="First Name *" />
          <input required name="last_name" type="text" placeholder="Last Name *" />
                      
          <input required name="user_name" type="text" placeholder="User Name *" />
          {% if user_name_exists %}
            <p>User Name already exists</p>
          {% endif %}

          <p>Profile Photo</p>
          <input name="profile_photo" type="file" placeholder="Profile Photo" id="input-profile-photo" accept="image/*" /><br />

          <input required name="email" type="email" placeholder="E-Mail *" />
          {% if email_exists %}
            <p>Email already exists</p>
          {% endif %}
          
          <input required name="phone_number" type="text" pattern="\d{10}" maxlength="10" placeholder="Phone Number *" />
          {% if phone_number_exists %}
            <p>Phone Number already exists</p>
          {% endif %}
          
          <input required name="password" type="password" placeholder="Password *" />
          <input required name="confirm_password" type="password" placeholder="Confirm Password *" />
          {% if password_mismatched %}
            <p>Password is mismatched</p>
          {% endif %}
          
          <button type="submit" id="signup">Signup</button>
          <button type="reset" id="reset">Reset</button>
        </form>
      </div>
      
      <div class="panel register flex justify-content-center">
        <p>Already have an account?</p>
        <a href="{% url "account:signin" %}?next={{ next }}">Signin</a>
      </div>
    </section>
  </main>
{% endblock %}
