{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'app/css/styles.css' %}" />
{% endblock %}

{% block content %}
  <div class="main">
    <div class="container">
      <form class="input-container" action="{% url 'app:add_journey' %}" method="post">
        {% csrf_token %}

        <p>Journey Title :</p>
        <input required name="title" type="text"  id="journey_title"  placeholder="Journey Title *" />

        <p>Journey Start Date :</p>
        <input required name="start_date" type="date" id="start_date" min="0001-01-01" max="9999-12-31" />

        <button type="submit" id="submit">Submit</button>
        <button type="reset" id="reset">Reset</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'app/js/add_new_journey.js' %}" defer></script>
{% endblock %}
