{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'app/css/styles.css' %}" />
{% endblock %}

{% block content %}
  <div class="main">
    <div class="container">
      <form class="input-container" action="{% url 'app:add_location' slug=slug %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <p>Location Name :</p>
        <input required name="name" type="text" placeholder="Location Name *" id="location_name" />

        <p>Arrival :</p>
        <input required name="arrival" type="datetime-local" id="arrival" min="0001-01-01T00:00" max="9999-12-31T23:59" />
        <p>Departure :</p>
        <input required name="departure" type="datetime-local" id="departure" min="0001-01-01T00:00" max="9999-12-31T23:59" />

        <p>Location Photos :</p>
        <input name="location_photos" type="file" placeholder="Location Photos" id="location_photos" accept="image/*" multiple /><br />

        <button type="submit" id="submit">Submit</button>
        <button type="reset" id="reset">Reset</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'app/js/add_new_journey.js' %}" defer></script>
{% endblock %}
