{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'app/css/styles.css' %}" />
{% endblock %}

{% block content %}
  <div class="main">
    <div class="container">
      <div class="input-container">
        <div class="list">
          {% csrf_token %}
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

          {% for journey in journeys %}
            <div class="list-item">
              <a href="{% url 'app:locations' journey_slug=journey.slug %}"><p>{{ journey.title }}</p></a>
              <button id="reset" onclick="deleteJourney('{{ journey.slug }}')">Delete</button>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="input-container">
        <a href="{% url 'app:add_journey' %}"><button>Add Journey</button></a>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'app/js/script.js' %}" defer></script>
{% endblock %}
