{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'app/css/styles.css' %}" />
{% endblock %}

{% block content %}
  <div class="main2">
    <div class="container">
      <div class="input-container">
        <a href="{% url 'app:add_location_photos' journey_slug=journey_slug location_slug=location_slug %}"><button>Add Photos</button></a>
      </div>
    </div>
    </div>

    <div class="container">
      <div class="input-container">
        <div class="photos">
          {% for photo in photos %}
            <a href="{{photo.photo.url}}"><img src="{{photo.photo.url}}" alt=""></a>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}
