.main {
  height: 100vh;
  margin: auto;
  max-width: 935px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container{
  background-color: white;
  border: 1px solid #dbdbdb;
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.input-container{
  width: 100%;
  padding: 20px 20px;
}

form p {
  display: inline;
  font-size: 14px;
}

form #journey_title{
  width: 85.4%;
}

form #start_date{
  width: 79.4%;
}

form #location_name{
  width: 87.7%;
}

form #arrival{
  width: 94%;
}

form #departure{
  width: 91.3%;
}

form #location_photos{
  width: 87%;
}

button {
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
}

#submit{
  background-color: #0095f6;
}

#reset{
  background-color: #f60000;
}

#submit, #reset{
  width: 49.5%;
}

.list{
  background-color: white;
  margin-bottom: 10px;
  padding: 10px 10px 0 10px;
  /* padding: 30px 20px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.list p{
  margin-bottom: 10px;
}